
body{
    background-color: rgb(222, 135, 22);
    text-align: center;
}

#outer{
     /*background-color: rgb(206, 100, 100);*/
    height: 500px;
    /*width: 1000px;*/
      display: flex;
    justify-content: center;
     align-items: center; 
     /* gap:1.5vmin; */

}
#inner{
    /* background-color: whitesmoke; */
    height: 60vmin;
     width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     align-items: center; 
     gap:1.5vmin;

}
.btn{
    background-color: cornsilk;
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    color: rgb(222, 135, 22); 
    font-size: 45px;
    border:none;
}
.btn:active{
    background-color: brown;
}
#reset{
    height: 50px;
    width: 60px;
    background-color: red;
}
#newgame{
      background-color: cornsilk;
    height: 8vmin;
    width: 30vmin;
    border-radius: 5px;
    color: rgb(222, 135, 22); 
    font-size: 30px;
    border:none;

}
#newgame:active{
    background-color: brown;
}

#msg{
    color: darkmagenta;
    font-size: 50px;
}
.msgbtn{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.hide{
    display: none;
}